@using DiziFilm.MVCCoreUI.Filters
@using DiziFilm.Model.Entity
@using DiziFilm.Model.ViewModel.Areas.AdminPanel

@inject ISessionManager _session
@model SidebarViewModel

<div class="sidebar-body pt-0 data-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;">
    <div class="scroll-content">
        <div class="sidebar-list">
            <!-- Sidebar Menu Start -->
            <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
                @foreach (Menu menu in Model.menuler.Where(x => x.UstMenuId == null))
                {
                    if (_session.YetkisiVarMi(menu.Id, @_session.AktifYonetici.Id))
                    {
                        if (Model.menuler.Any(x => x.UstMenuId == menu.Id))
                        {
                            var submenuId = "submenu-" + menu.Id;
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#@submenuId" role="button" aria-expanded="false" aria-controls="@submenuId">
                                    @Html.Raw(menu.Menuİcon)
                                    <span class="item-name text-light">@menu.Baslik</span>
                                    <i class="right-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                        </svg>
                                    </i>
                                </a>
                                <ul class="sub-nav collapse" id="@submenuId" data-bs-parent="#sidebar-menu">
                                    @foreach (Menu altmenu in Model.menuler.Where(x => x.UstMenuId == menu.Id))
                                    {
                                        if (_session.YetkisiVarMi(altmenu.Id, @_session.AktifYonetici.Id))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="@altmenu.Url" data-bs-toggle="tooltip" data-bs-placement="right">
                                                    <i class="icon">
                                                        @Html.Raw(altmenu.Menuİcon)
                                                    </i>
                                                    <span class="item-name text-light">@altmenu.Baslik</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@menu.Url">
                                    @Html.Raw(menu.Menuİcon)
                                    <span class="item-name text-light">@menu.Baslik</span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
            <!-- Sidebar Menu End -->
        </div>
    </div>
    <div class="scrollbar-track scrollbar-track-x" style="display: none;">
        <div class="scrollbar-thumb scrollbar-thumb-x" style="width: 227px; transform: translate3d(0px, 0px, 0px);"></div>
    </div>
    <div class="scrollbar-track scrollbar-track-y" style="display: block;">
        <div class="scrollbar-thumb scrollbar-thumb-y" style="height: 577.715px; transform: translate3d(0px, 0px, 0px);"></div>
    </div>
</div>

